name: Publish Docker Image

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-20.04

    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: vvanglro/cf-clearance

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          platforms: linux/amd64
#          tags: vvanglro/cf-clearance:latest,${{ steps.meta.outputs.tags }}-amd64
          tags: vvanglro/cf-clearance:latest
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Docker Arm image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/Dockerfile_Arm
          push: true
          platforms: linux/arm64
#          tags: vvanglro/cf-clearance:latest-arm64,${{ steps.meta.outputs.tags }}-arm64
          tags: vvanglro/cf-clearance:latest-arm64
          labels: ${{ steps.meta.outputs.labels }}
