name: Every day cron challenge

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pdm
          pdm install
          pdm run playwright install chromium
          sudo apt install xvfb
      - name: Run script
        run: xvfb-run pdm run python tests/test_cron_challenge.py
